.row {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 10rem;
  align-items: center;
}
.auth {
  background: var(--primary);
  padding: 5rem;
  border-radius: 2rem;
  border: 1px solid black;
  position: relative;
}
.auth .fild {
  margin-top: 1.5rem;
  position: relative;
}
.auth .fild i {
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}
.auth button {
  margin-top: 3rem;
}
.auth input {
  border-radius: 5rem;
  border: 1px solid black;
  padding-right: 4rem;
}
.auth img {
  position: absolute;
  width: 25rem;
  right: 10rem;
  top: -8rem;
}
.typo {
  margin-bottom: 5rem;
}
.typo h1 {
  font-size: 11rem;
  line-height: 1;
  font-weight: 600;
  width: 80%;
}
.typo h2 {
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 2rem;
}
.portal p,
.portal p a {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
}
.portal p a {
  text-decoration: underline;
}
.db h2 {
  font-size: 3.4rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.ddd {
  gap: 10rem;
  align-items: center;
  grid-template-columns: 1.8fr 1fr;
}
.forgot {
  display: block;
  margin-top: 1rem;
}
select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.6em;
}
